.list-card {
  /* width: 30%; */
  min-width: 6rem;
  height: 4rem;
  margin: 0.5rem;
  border-radius: 1rem;
  background-color: #FFFFFF;
  flex: 30%;

  position: relative;
  padding: 1rem;
}

.list-card.active {
  background-color: #448AFF;
}

.list-icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: orange;
  position: absolute;
  /* top: 1rem;
  left: 1rem; */
}

.items-count {
  width: 2rem;
  height: 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  /* border-radius: 50%; */
  /* background-color: orange; */
  position: absolute;
  /* top: 1rem;
  left: 1rem; */
  right: 1rem;
}

.list-title {
  /* width: 2rem; */
  height: 2rem;
  font-size: 1.2rem;
  /* border-radius: 50%; */
  /* background-color: orange; */
  position: absolute;
  bottom: 0.2rem;
}