.item-card {
  width: 100%;
  display: flex;
}

.item-box {
  border-bottom: solid black 1px;
  padding: 0.5rem 0;
  width: 100%;

}

.check-box {
  min-width: 2rem;
  display: flex;
  align-items: center;
}

.item-box input {
  padding: 0;
  border: none;
  outline: none;
  display: block;
  width: 100%;

}

.item-box .completed {
  color: gray;
  text-decoration: line-through;
}