.sidebar {
  /* max-width: 30%; */
  background-color: #bdbdbd;
  /* height: 100%; */
  /* padding: 0.5rem; */
}

.list-card-list {
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
