#root {
  font-size: 18px;
}

.app-container {
  height: 100%;
  display: flex;
}

/* @media screen and (max-width: 900px) {
  .sidebar {
    width: 100%;
  }

  
  
} */

@media screen and (min-width: 1200px) {
  .sidebar {
    max-width: 30%;
  }
}

@media screen and (min-width: 760px) {
  .sidebar {
    max-width: 40%;
  }
}

@media screen and (max-width: 759px) {
  .sidebar {
    display: none;
  }
}

.listpage {
  width: 100%;
}