.listpage {
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
}

/* @media screen and (min-width: 900px) {
  .listpage {
    width: 70%;
  }  
} */

.listpage-title {
  margin: 0.5rem;
  font-size: 1.6rem;
  /* background-color: red; */
}

/* header, .title {
  flex-grow: 0;
  flex-shrink: 0;
}

.list-container {
  flew-grow: 1;
} */